/AccesoDatos/build/
/InterfazUsuario/build/
/InterfazUsuario_1/nbproject/private/
/InterfazUsuario_1/build/
/AccesoDatoskk/nbproject/private/
/InterfazUsuariokk/nbproject/private/
/LogicaNegociokk/nbproject/private/
/LogicaNegocio/build/
/LogicaNegocio/dist/
/AccesoDatos/dist/